:root {
    --title-color:#212121;
    --main-text-color:#757575;
    --second-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --black-color:#000000;

}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,ol {
    margin: 0;
    padding-left: 0;
}
 
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 1px solid tomato ; */
}

.top-title{



    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color)

}

.text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        
}


body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
}

.link {
    text-decoration: none;
}
.list{
    list-style: none;
}



/*-------------------------LOGO------------------- */


.logo {
  
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.logo-color {
    color: var(--accent-color);
}

/*-------------------------NAVIGATION------------------- */ 


.nav-list {
    display: flex;
}

.nav-contacts {
    display: flex;
    margin-left: auto;
    
} 

.header .nav {
    display: flex;
    align-items: center;
}
.nav-link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    
 }
 
 .nav-tel,
 .nav-mail  {
  
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--main-text-color);
    
 }

 .nav-icon {
     margin-right: 10px;
     cursor: pointer;
     
 }

 .logo {
     padding-top: 25px;
     padding-bottom: 25px;
     margin-right: 93px;
 }

 .nav-link:hover,
 .nav-link:focus,
 .nav-tel:hover,
 .nav-tel:focus,
 .nav-mail:hover,
 .nav-mail:focus {
    color: var(--accent-color);
 
 }

 .nav-item:not(:last-child) {
     margin-right: 50px;

 }

 .nav-list,
 .nav-contacts {
     padding-top: 32px;
     padding-bottom: 32px;
 }

 .nav-icon {
    fill: currentColor;
    margin-right: 10px;
 }

 .nav-icon:hover {
     fill: var(--accent-color);
 }
 

/*-------------------------HERO------------------- */

.hero-bacgraund {
    background: #2F303A;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero {
    text-align: center;
    
}


 .hero-title {

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--white-color);
    margin-bottom: 30px;
   
 }

 .hero-btn {


    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    text-align: center;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    
    
   
    
}

.hero-title {
     width: 690px;
     margin: auto;
     margin-bottom: 30px;
    
    
}
 
 /*-------------------------ASIDE------------------- */

.aside {
     padding-top: 94px;
     padding-bottom: 94px;
     
 }

.hidden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
        }

 .aside-list {
     list-style: none;
     display: flex;
    
 }

 .aside-item:not(:last-child) {
     margin-right: 30px;
 }



 .aside-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-color);
    margin-bottom: 10px;
 }

 .aside-text {
    color: #757575;
    width: 270px;
 }

 .aside-icon {
     width: 270px;
     height: 120px;
     background-color: #F5F4FA;
     margin-bottom: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 4px;


 }


/*-------------------------ABOUT------------------- */

.about{
padding-bottom: 94px;
}

.about-title {
    margin-bottom: 50px;
}

.about-list {
    display: flex;
    margin-left: -30px;
  
}

.about-item {
flex-basis: calc(100% / 3 - 30px);
margin-left: 30px;
 
}



/*-------------------------TEAM------------------- */

    .team{

        background: #F5F4FA;
}

.team-top-title {
    margin-bottom: 50px;
}
        
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
   
}

        
.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 10px;
    
    
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    margin-left: -30px;
    
}

.team-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
    
}

.team-card-text {
    padding-top: 30px;
    margin-bottom: 16px;
}

.member-social-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    
}

.member-social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    
   
}

.member-social-item:last-child{
    margin-right: 0;
}

.member-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    

}

.member-social-link:hover,
.member-social-link:focus {
    background-color: var(--accent-color);
    fill: #FFFFFF;
}

/*-------------------------REGULAR------------------- */

.regular {
    padding-top: 94px;
    padding-bottom: 94px;
}
.regular-title {
    margin-bottom : 50px;
}

.regular-list {
    display: flex;
    margin-left: -30px;


    
}

.regular-item {
flex-basis: calc(100% / 6 - 30px);
margin-left: 30px;
}


.regular-link {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: #AFB1B8;
    
   
   
}

.regular-link:hover,
.regular-link:focus {
    border: 1px solid #2196F3;
    fill: #2196F3;
}







/*-------------------------FOOTER------------------- */
  

.footer{
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    
    
  } 

  
  
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 20px;
    
}

.footer-address{
    font-style: normal;
    color:var(--white-color);
    
    
    
}
                
                
.footer-link {
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    
}

.footer-address:hover,
.footer-address:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
} 

.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #EEEEEE;
    margin-bottom: 20px;
}

.footer-soc-item {
        width: 44px;
        height: 44px;
        margin-right: 10px;
       
     
}

.footer-soc {
    margin-left: 70px;

}
.footer-soc-list {
    display: flex;
}

.footer-soc-link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #AFB1B8;
        background-color: rgba(255, 255, 255, 0.1);
            ;
}

.footer-social-icon {
    fill: #EEEEEE;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color:var(--accent-color);
  
}

.footer .container {
    display: flex;
}

/* ---------------------------PORTFOLIO---------------------------- */

.header {
    border-bottom: 1px solid #ECECEC;
}
.button {

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0;
    height: 38px;
    padding-left: 22px;
    padding-right: 22px;
   
}

.button-hover:hover,
.button-hover:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
 
/* ---------------------------EXEMPLE---------------------------- */


.exemple {
    padding-top: 94px;
    padding-bottom: 94px;
}


.exemple-title {

    font-weight: 700;
     font-size: 18px;
     line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-color)
}

.exemple-text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
     color:var(--main-text-color)
}




.exemple-list-button {
    display: flex;
    justify-content: center;
       
}    

.button-item:not(:last-child) {
    margin-right: 8px;
   
}
 
.example-list {
    display: flex;
    flex-wrap: wrap;
    margin-right:  -30px;
    margin-bottom: -30px;

}

.exemple-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right:  30px;
    margin-bottom: 30px;
    outline: 1px solid #EEEEEE;
    
}

.example-list {
    margin-top: 56px;
    
}

.exemple-title {
    border: 1px #EEEEEE;
  
}

.exemple-card-text{
    padding: 20px 24px;
}

.exemple-item:hover {

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);;

}